.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 4;
    background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.logo-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo-text {
    font-size: 5rem;
    color: white;
    font-family: "Norse";
    font-weight: bold;
}

.content {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #f2f2f2;
}

.description {
    padding: 32px;
    width: 65ch;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 16px 32px 32px 32px;
    box-shadow: 0 3px 2px 1px rgb(0 0 0 / 20%);
}

.form-container > h2 {
    margin: 0;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 16px;
}

.row {
    display: flex;
    align-items: center;
    gap: 64px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper label {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    top: -16px;
    left: 2px;
}

.input-wrapper input {
    width: 260px;
}

.bottom-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.bottom-container > button {
    padding: 12px 40px;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.bottom-container > div > a {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}
